body {
background-color: #121212;
color: white;
font-family: sans-serif;
text-align: center;    
}
h1 { color: #00d1b2;
font: size 3rem;
letter-spacing: 2px;
text-transform: uppercase;
margin: 0;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
podcast-player {
    margin-top: 40px;
    background: #1flflf;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}
h3{
    color: #00d1b2;
    margin-bottom: 15px;
}
btn-whatsapp~{
    display: inline-block;
    background-color: #25d366;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(37,211,102,0.4);
    transition: 0.3s;
}
bnt-whatsapp:hover{
    background-color: #128c7e;
    transform: translateY(-3px);
}reseaux-sociaux {
margin-top: 30px;
display: flex;
justify-content: center;
gap: 15px;
}
icone-social {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    transition: 0.3s;
    youtube{ background-color: #FF0000;
     }
     tiktok { background-color: #010101;
        border: 1px solid #69C9D0;
     }
     facebook { background-color: #1877F2;
     }
     icone-social:hover {
        opacity: O.8;
        transform: translateY(-3px);
     }
}